[package]
name = "wavs-gui-shared"
description = "WAVS gui shared"
version.workspace = true
edition.workspace = true
authors.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true
publish = false

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
wavs-types = { workspace = true, features = ["full"] }
serde_json = {workspace = true}
serde = {workspace = true}
thiserror = {workspace = true}
anyhow = {workspace = true}
