#
# docker compose up
#
# docker exec -it wavs bash
# wavs-cli deploy-service --component /wavs/components/evm_trigger_echo.wasm
# wavs-cli add-task --input "echo value" --service-id <SERVICE_ID>
#
services:
  anvil:
    image: "ghcr.io/foundry-rs/foundry:stable"
    platform: linux/amd64
    container_name: "anvil"
    network_mode: "host"
    ports:
      - "8545:8545"
    environment:
      ANVIL_IP_ADDR: 0.0.0.0
    command: ["anvil", "--no-cors"]

  # The main instance all WAVS interaction will happen from
  wavs:
    build: .
    image: "ghcr.io/lay3rlabs/wavs:local"
    container_name: "wavs"
    stop_signal: SIGKILL
    depends_on: ["anvil"]
    network_mode: "host"
    env_file: "./.env"
    ports:
      - "8000:8000"
    environment:
      WAVS_HOME: "/wavs/packages/wavs"
      WAVS_CLI_HOME: "/wavs/packages/cli"
    command: ["wavs"]
    volumes:
      - "./:/wavs"
      - "./.docker/cli:/root/wavs/cli/"

  deploy-eigenlayer:
    image: "ghcr.io/lay3rlabs/wavs:local"
    container_name: "wavs-deploy-eigenlayer"
    depends_on: ["wavs", "anvil"]
    restart: "no"
    env_file: "./.env"
    command: ["wavs-cli", "deploy-eigen-core"]
    volumes:
      - "./packages/cli:/wavs"
      - "./.docker/cli:/root/wavs/cli/"
    network_mode: "host"

  # Default all-memory Jaeger
  jaeger:
    image: jaegertracing/jaeger:2.5.0
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    ports:
      - "4317:4317" # OTLP gRPC
      - "16686:16686" # Jaeger UI
      
  # Prometheus is used to display metrics 
  prometheus:
    image: prom/prometheus:v3.3.0
    ports:
      - "9090:9090" # Prometheus UI and OTLP receiver
    volumes:
      - ./config/prometheus.yml:/etc/prometheus/prometheus.yml
      - ./config/alerts.yml:/etc/prometheus/alerts.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--web.enable-otlp-receiver"
      
  # Alertmanager handles alerts from Prometheus
  alertmanager:
    image: prom/alertmanager:v0.27.0
    ports:
      - "9093:9093"
    volumes:
      - ./config/alertmanager.yml:/etc/alertmanager/alertmanager.yml
    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"